
*~
*.bak
*.pyc
*.log
*.trs

# Libtool libraries
*.lo
*.la
.libs
.deps
.dirstamp

# Autotools files
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
Makefile.in
missing
test-driver

# build tree
build*
# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

